<div>
	<h1>Add a new cashflow</h1>
	<%= form_for Cashflow.new  do |f| %>

	<table class ="field">
		<tr>
			<th><%= f.label :date %></th>
			<th><%= f.label :from_item %></th>
			<th><%= f.label :to_item %></th>
			<th><%= f.label :price %></th>
			<th><%= f.label :description %></th>
		</tr>
		<tr>
			<td><%= f.date_field :date %></td>
			<td><%= select_tag(:from_item, options_for_select([['Asset', 1], ['Liability', 2], ['Income', 3]],1)) %></td>
			<td><%= select_tag(:to_item, options_for_select([['Asset', 1], ['Liability', 2], ['Expense', 4]],4)) %></td>
			<td><%= f.text_field :price %></td>
			<td><%= f.text_field :description %></td>
			<td class="form-actions">
		    	<%= f.submit "Create", :disable_with => "Submiting...", :class => "btn btn-primary" %></td>
		</tr>

		
		
	</table>
	<% end %>
</div>
</br></br></br></br></br></br></br></br>



<div class="span12">
	

	<table class="table", width=800px>
		<thead>
		<tr>
			<th>Date</th>
			<th>From_item</th>
			<th>To_item</th>
			<th>Price</th>
			<th>Description</th>
			
		</tr>
		</thead>

		 <tbody align="center">
			 <% @cashflows.each do |cashflow| %>
			 <tr>
			 
				 <td> <%= cashflow.date %> </td>
				 <td> <%= cashflow.from_item %> </td>
				 <td> <%= cashflow.to_item %> </td>
				 <td> <%= cashflow.price %> </td>
				 <td> <%= cashflow.description %> </td>

				 <td> <%= link_to "Edit", edit_cashflow_path(cashflow), :class => "btn btn-mini" %>
				 	  <%= link_to "Delete", cashflow_path(cashflow), method: :delete, :class => "btn btn-mini", data: {confirm: "Are you sure?" }  %>
			 </td>
			 </tr>
			 <% end %>
		 </tbody>
	</table>
</div>
</br></br></br></br></br>
<p> Total price:  <%= Cashflow.sum(:price) %> </p>


<%= select_tag(:city, options_for_select([['Lisbon', 1, {'data-size' => '2.8 million'}], ['Madrid', 2, {'data-size' => '3.2 million'}]], 2)) %>
